<h1>Grafico</h1>
<div style="height: 50vh; width: 50vw; margin: auto">
  <graficos-grafico1> </graficos-grafico1>
</div>
<!-- <div
  style="background-color: lightcyan; height: 40vh; width: 40vw; margin: auto"
>
  <graficos-grafico-terror> </graficos-grafico-terror>
</div> -->

<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  "
>
  <graficos-pentagono-texto texto="Gasolina 93"></graficos-pentagono-texto>
  <div
    style="background-color: lightcyan; height: 40vh; width: 40vw; margin: auto"
  >
    <graficos-grafico-terror> </graficos-grafico-terror>
  </div>
</div>

<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  "
>
  <graficos-pentagono-texto texto="Di&eacute;sel"></graficos-pentagono-texto>
  <div
    style="background-color: lightcyan; height: 40vh; width: 40vw; margin: auto"
  >
    <graficos-grafico-terror> </graficos-grafico-terror>
  </div>
</div>
