<div style="margin-left: auto; margin-right: auto; text-align: center">
  <h1>Graficos</h1>
</div>

<button mat-button color="primary" (click)="cambiarGrafico(1)">
  Mostrar gráfico 1
</button>
<br />
<button mat-button color="primary" (click)="cambiarGrafico(2)">
  Mostrar gráficos 2
</button>

<div style="height: 50vh; width: 50vw; margin: auto" *ngIf="mostrarGrafico1">
  <graficos-grafico1> </graficos-grafico1>
</div>

<div class="contenedorFilaGrafico" *ngIf="mostrarGraficoTerror">
  <graficos-pentagono-texto texto="Gasolina 93"></graficos-pentagono-texto>
  <div class="contenedorGraficoTerror">
    <graficos-grafico-terror> </graficos-grafico-terror>
  </div>
  <!-- TODO: TODO ESTO SE PUEDE MOVER A UN COMPONENT; INCLUSO A SHARED -->
  <div style="display: flex; flex-direction: column; margin-left: 20px">
    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedGasolina93A">
        <mat-option value="producto"> Producto </mat-option>
        <mat-option value="planta"> Planta </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedGasolina93B">
        <mat-option value="producto"> Producto </mat-option>
        <mat-option value="planta"> Planta </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="contenedorFilaGrafico" *ngIf="mostrarGraficoTerror">
  <graficos-pentagono-texto texto="Di&eacute;sel"></graficos-pentagono-texto>
  <div class="contenedorGraficoTerror">
    <graficos-grafico-terror> </graficos-grafico-terror>
  </div>
  <div style="display: flex; flex-direction: column; margin-left: 20px">
    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedDieselA">
        <mat-option value="producto"> Producto </mat-option>
        <mat-option value="planta"> Planta </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedDieselB">
        <mat-option value="producto"> Producto </mat-option>
        <mat-option value="planta"> Planta </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
