.pentagono {
  position: relative;
  width: 7vw;
  height: 10vh;
  background-color: #161072;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 0 0);
  justify-content: center;
  align-items: center;
  display: flex;
}

.contenido {
  text-align: center;
  color: white;
}
